body{
  background-color: white;
}
.Header_Admin{
    width: 100%;
    height: 107px !important;
    background-color: #1C458D;
    border: solid 1px #1C458D;
    padding: 0px !important;
}
.Header_Admin .logo{
 width: 167px !important;
 height: 74px !important;
 margin-left: 50px;
 margin-top: 10px;
}
.rectangels{
    display: flex !important;
}
.rectangle,.rectangle_edit,.rectangle_Delve{
    width: 100%;
    max-width: 173px;
    height: 173px;
    background-color: white;
    box-shadow: 20px !important;
    font-size: 32px;
    color: #1C458D;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); 
}
.rectangle_Delve{
  color: white !important;
  background-color: #1C458D;
  
}
.rectangle_edit{
    font-size: 20px;
    width: 127px !important;
    height: 127px !important;

}
.add_text{
    text-align: right;
    margin-right: 150px;
    font-size: 32px;
    color: #1C458D;
}
.input{
  
    text-align: right;
   display: flex;
    
}
.input .text{
   color: #1C458D;
   font-size: 32px;
   
}
.input input,.input input:focus,select,.img_input{
    
    text-align: right;
   display: flex;
    width: 90%;
    max-width: 477px;
    height: 76px;
    color: gray;
    background-color: white;
    border:solid 1px gray;
    border-radius: 5px;
    outline: none; 
    text-align: right;
    padding: 10px;
    font-size: 14px;
}
.img_input{
padding-top: 20px;
justify-content: end;
}
select{
    -webkit-appearance: none;
  -moz-appearance: none;  
  appearance: none;        
}

.Btn_Add,.Delete_Btn{
    color: white;
    background-color: #1C458D;
    border: solid 1px #1C458D;
    border-radius: 10px;
    margin-left: 28%;
    width: 50%;
    max-width: 284px;
    height: 62px;
    font-size: 20px;

}
.Delete_Btn,.delete_Btns{
    background-color: #E01212;
    border: solid 1px #E01212;
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
     gap: 0rem;
     margin-left: 100px;

}

.btns_del_add{
  display: flex;
  justify-content: center;

  
}
.add_Btns{
    background-color: #1C458D;
    border: solid 1px #1C458D;
    color: white;
    border-radius: 10px;
    margin-left: 28%;
    width: 50%;
    max-width: 284px;
    height: 62px;
    font-size: 20px;
  margin-left: 10% !important;

}
.delete_Btns{
    color: white;
    border-radius: 10px;
    margin-left: 28%;
    width: 50%;
    max-width: 284px;
    height: 62px;
    font-size: 20px;
  margin-left: 15% !important;
}
@media screen and (max-width:500px){
   .rectangle{
    font-size: 15px;
    height: 50px;

    }

    .add_text{
        font-size: 15px;
      
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type=number] {
  -moz-appearance: textfield;
}
.gg{
  margin-right: 60px !important;
}
.kk{
  margin-right: 85px !important;
}
.so{
  margin-right: 45px !important;
}
.nn{
  margin-right: 75px !important;
}
.rr{
  margin-right: -30px !important;
}
.spp{
  margin-left: -20px !important;
}
.Home_Body{
  margin-top: 20%;
  transform: translateY(-50%);
}

.order_form h1{
  margin-top: 10px;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 7.2%;

  font-size: 14px;
  color: #282A37;
}

.order_form input{
  margin-top: 10px;
  margin-right: 7%;
  font-size: 14px;
  width: 95%;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  height: 68px;
  border: solid 1px #ECEDF2;
  border-radius: 12px;
  padding-right: 10px;
  color: #282A37;
  outline: none;
  max-width: 425px !important;
}
.order_form{
  margin-top: 70px;
  text-align: right;
  height: 130px;
}
.form_btns{
  margin-top: -1000px;
  float: right;
  margin-top: 200px !important;
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap:10px;
  margin-right: 8%;

}
.form-btn{
  width: 103px;
  height: 103px;
  border-radius: 10px;
  color: white;
  font-size: 16px;

}
.delivery-btn{
  background-color: #1C458D;
  border: solid 1px #1C458D;
}
.complete-btn{
    background-color: #9CD5C1;
  border: solid 1px #9CD5C1;
}
.rufus-btn{
  background-color: #DB2424;
  border: solid 1px #DB2424;
}
