
.Start_Page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}
.logo{
    width: 200px !important;
    height: 200px !important;
}


.card {
    width: 240px;
    height: 380px;
    background: linear-gradient(to bottom, #bbb, transparent);
    border-radius: 30px 30px 0 0;
    position: relative;
  }
  
  .cutout {
    width: 90px;
    height: 30px;
    background-color: var(--main);
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .Card_Logo{
    margin-top: 12vh !important;
    justify-items: center;
  }
  .Card_Title{
    margin-right: 3vb;
    font-size: 30px;
    float: right;
    color: white;
  }
  .Card_Par{
    margin-left: 12vb;
    margin-top: -1vh;
    color: white;
    float: left;
    font-size: 13px ;
  }
  .Card_Button{
    width: 38vb !important;
    height: 40px !important;
    background-color: var(--second);
    color: white;
    text-align: center;
    border: solid 1px var(--second);
    border-radius: 70px !important;
    margin-left: 4vb;
    margin-top: 3vh;
    margin-bottom: 2vh;

  }