:root{
  --main:#1C458D;
  --second:#9CD5C1;
}
.Start_Page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}
.logo{
  width: 200px !important;
  height: 200px !important;
}

.Conformation_Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.card {
  margin-top: -10vh !important;
  width: 80%; 
  max-width: 250px; /* حد أقصى لعدم التمدد أكثر */
  height: 320px;
  background: linear-gradient(to bottom, #bbb, transparent) !important;
  border-bottom:solid 0px ;
  border-radius: 30px 30px 0 0;
  position: relative;
  appearance: none !important;
}

.cutout {
  width: 80px;
  height: 20px;
  background-color: var(--main);
  border-radius: 15px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.Card_Title {
  font-size: 24px;
  color: white;
  text-align: right; /* يجعل العنوان في المنتصف */
  margin-top: 20px;
}

.Card_Par {
  color: white;
  font-size: 14px;
  margin: 10px 15px;
}

.Card_Button {
  width: 90%; /* يتكيف مع الشاشة */
  height: 40px;
  background-color: var(--second) !important;
  color: white;
  text-align: center;
  border: solid 1px var(--second);
  border-radius: 50px;
  margin-top: 20px;
  appearance: none !important;
}

/* تحسين التجاوب للشاشات الصغيرة */
@media (max-width: 576px) {
  .Card_Title {
      font-size: 20px;
  }

  .Card_Par {
      font-size: 12px;
  }

  .Card_Button {
      width: 100%;
  }
}
